:root {
    --primary-color: ;
    --secondary-color: ;
    --background-color: ;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: lightgray;
}
#header{
    width: 100%;
    height: auto;
    background-color: #000;
}
nav ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 520;
}
nav ul li:not(:last-child)::after {
  content: "|";
  font-size: 24px;
  color: #fff;
  margin-left: 30px;
}
#header2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    background: url('image/background\ img.webp') no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    width: 10%;
}
.logo img{
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}
.name{
    width: 40%;
}
.name h1{
    font-size: 35px;
    text-shadow: 4px 25px 6px  rgb(146, 138, 138);
    margin-top: 30px;
    color: #fbb4b4;
}
h1 .color{
    color: rgb(234, 245, 255);
}
.search{
    width: 40%;
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-left: 140px;
}
.bton{
    width: 40px;
    padding: 8px 10px;
    border: 0;
    border-top-left-radius: 10px;
}
.input{
    width: 250px;
    padding: 8px 12px;
    border: 0;
    outline: none;
    border-bottom-right-radius: 10px;
}
.tabs{
    width: 100%;
    margin-left: 30%;
}
.tabs button{
    width: 150px;
    height: auto;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
.tabs button.active{
    background: #ff6600;
    color: #fff;
}
.tabs button:hover{
    background-color: #ff890d;
    transition: 0.5s ease-in-out;
}
#content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    border-bottom: 1px solid;
    background: linear-gradient(to left,#f4b44d, #fff);
}
.data1{
    width: 98%;
    padding: 10px;
    background: url('image/background-img.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #000;
}
.data1:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
    filter: brightness(100%);
}
.data2{
    width: 90%;
    padding: 10px;
}
.data2 p ,details{
    margin-left: 10px;
}
.data1,.data2, h2{
    margin: 5px;
}
.boxes{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    float: left;
    margin: 10px;
    margin-left: 8%;  
}
.box{
    width: 25%;
    height: auto;
    position: relative;
}
.box img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px lightsalmon;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    padding: 20px;
    height: 85%;
    background: rgba(11, 11, 11, 0.5);
    color: white;
    text-align: center;
    justify-content: center;
}
.box:hover .overlay{
    width: 70%;
    height: 85%;
    padding: 20px;
    left: 40px;
    background-color: black;
    transition: 0.5s ease;
    opacity: 1;
}
.text{
    width: 100%;
    margin: auto;
    position: absolute;
    font-size: 22px;
    top: 90px;
    right: 10px;
}
#content2{
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 5px;
}
.left{
    width: 50%;
    margin: 10px;
    padding: 20px;
    float: left;
}
.left .btn{
    width: 200px;
    height: 33px;
    padding: 5px;
    margin: 10px ;
    border-radius: 10px;
    background-color: rgb(220, 220, 182);
    cursor: pointer;
    font-size: 17px;
}
.left .btn:hover{
    background-color: #e0b062;
    transition: 0.5s ease-in-out;
    transform: scale(1.06);
}
.right{
    width: 40%;
    margin: 10px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    float: right;
}
.detail{
    width: 100%;
    padding: 20px;
    background: linear-gradient(rgba(223,35,0,0.4),rgba(225,54,0,0.8));
}
.detail h3{
    font-size: 22px;
    text-transform: uppercase;
}
.right img{
    width: 500px;
    margin-left: 20px;
    transition: 0.5s ease;
    box-shadow: 0px 2px 4px lightgoldenrodyellow;
}
.right img:hover{
    transform: scale(1.07);
}
.right h2{
    text-align: left;
}
#footer{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
    margin-top: 65%;
}
.links p{
    font-size: 20px;
}
.links a{
    text-decoration: none;
    color: #fff;
}
